<!DOCTYPE html>
<html>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Robot Control</title>
</head>
<body>
    <div class="button" id="forward">Forward</div>
    <div class="button" id="reverse">Reverse</div>
    <button class="button" id="left">Left</button>
    <button class="button" id="right">Right</button>

    <script>
        $(document).ready(function(){
            $("#forward").mousedown(function(){
                $.post("/command", "forward");
            });
            $("#reverse").mousedown(function(){
                $.post("/command", "reverse");
            });
            $("#left").mousedown(function(){
                $.post("/command", "left");
            });
            $("#right").mousedown(function(){
                $.post("/command", "right");
            });
            $("*").mouseup(function(){
                $.post("/command", "stop")
            });
        });
    </script>
</body>
</html>