<!DOCTYPE html>
<html>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Robot Control</title>
    <style>
        #container {
            width: 350px;
            height: 350px;
        }

        .grid-entry {
            width: 100px;
            height: 100px;
            display: inline-block;
            overflow: hidden;
        }

        .button {
            border: 1px solid;
            text-align: center;
            background-color: #999;
        }
    </style>
</head>
<body>
    <div id="container">
        <span class="grid-entry"></span>
        <span class="button grid-entry" id="forward">Forward</span>
        <span class="grid-entry"></span>
        <span class="button grid-entry" id="left">Left</span>
        <span class="grid-entry"></span>
        <span class="button grid-entry" id="right">Right</span>
        <span class="grid-entry"></span>
        <span class="button grid-entry" id="reverse">Reverse</span>
        <span class="grid-entry"></span>
    </div>

    <script>
        $(document).ready(function(){
            $("#forward").mousedown(function() {
                $.post("/command", "forward");
                $("#forward").css("background-color", "#0f0");
            });
            $("#reverse").mousedown(function() {
                $.post("/command", "reverse");
                $("#reverse").css("background-color", "#0f0");
            });
            $("#left").mousedown(function() {
                $.post("/command", "left");
                $("#left").css("background-color", "#0f0");
            });
            $("#right").mousedown(function() {
                $.post("/command", "right");
                $("#right").css("background-color", "#0f0");
            });
            $("*").mouseup(function() {
                $.post("/command", "stop");
                $("#forward").css("background-color", "#999");
                $("#reverse").css("background-color", "#999");
                $("#left").css("background-color", "#999");
                $("#right").css("background-color", "#999");
            });
            $(document).keydown(function(k) {
                switch(k.which) {
                    case 37:
                        $("#left").mousedown();
                        break;
                    case 38:
                        $("#forward").mousedown();
                        break;
                    case 39:
                        $("#right").mousedown();
                        break;
                    case 40:
                        $("#reverse").mousedown();
                        break;
                    default:
                        return;
                }
                k.preventDefault();
            });
            $(document).keyup(function(k) {
                $("#forward").mouseup();
            });
        });
    </script>
</body>
</html>